.widget-communication {

  margin-bottom: 40px;
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &__link {
    font-family: var(--font-family);
    color: var(--color-text-primary);
    position: relative;

    &::after {
      content: "";
      width: 0%;
      height: 2px;
      position: absolute;
      left: 0px;
      bottom: -3px;
      transition: width 900ms;
      background: linear-gradient(128deg,
          rgba(65, 246, 215, 1) 0%,
          rgba(217, 255, 245, 1) 50%,
          rgba(217, 255, 245, 0) 100%);
    }

    &:focus-visible {
      outline: none;

      &::after {
        width: 100%;
        transition: width 300ms;
      }
    }

    @include media-hover {
      &::after {
        width: 100%;
        transition: width 300ms;
      }
    }

    &--mail {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
    }

    &--tel {
      font-weight: 700;
      font-size: 24px;
      line-height: 133%;
      letter-spacing: -0.03em;
    }

  }
}
