:root {
  --color-white: #fff;
  --color-text-primary: #1b1c21;
  --color-text-secondary: #7e7e82;
  --color-section-background: #f8f8f8;
  --color-section-header-background: #fdfdfd;
  --color-accent-primary: #ff3e79;
  --color-accent-secondary: #41f6d7;
  --color-accent-secondary-thin: #d9fff5;
  --font-family: "TTLakes", sans-serif;
}
