.hero {
  padding-top: 40px;

  &__inner {}

  &__title {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: var(--color-text-primary);
  }
}
