.menu-main {
  width: 320px;
  padding: 18px 24px 18px 0px;
  position: absolute;
  z-index: 20;
  top: 0px;
  bottom: 0px;
  left: -320px;
  // background-color: rgb(221, 160, 221);
  background-color: var(--color-white);
  box-shadow: none;
  transition: transform 300ms cubic-bezier(.17, .67, 0, 1.57);

  @include media-min-width-LG {
    width: 306px;
    padding: 30px 24px 25px 0px;
    box-shadow: none;
    position: static;
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    // background-color: rgb(30, 144, 255, 0.2)
  }

  //////// header ////////////////////////////////////////

  &__header {
    margin-bottom: 35px;
    padding-left: 24px;

    display: flex;
    align-items: center;
  }

  &__circular-button--close {
    margin-right: 17px;

    @include media-min-width-LG {
      display: none;
    }
  }

  &__circular-button--search {
    margin-left: auto;
  }

  //////// navigation ////////////////////////////////////////

  &__navigation {
    margin-bottom: 35px;
    // margin-left: 24px;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent-secondary) var(--color-white);
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }

  &__item {}

  &__link {
    padding: 10px 0;
    padding-left: 24px;
    position: relative;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    -webkit-tap-highlight-color: transparent;
    color: var(--color-text-primary);
    transition: width 900ms;

    &::after {
      content: "";
      width: 0%;
      height: 2px;
      position: absolute;
      left: 24px;
      bottom: 5px;
      transition: width 900ms;
      background: linear-gradient(128deg,
          rgba(65, 246, 215, 1) 0%,
          rgba(217, 255, 245, 1) 50%,
          rgba(217, 255, 245, 0) 100%);
    }

    &:focus-visible {
      outline: none;

      &::after {
        width: 100%;
        transition: width 300ms;
      }
    }

    @include media-hover {
      &::after {
        width: 100%;
        transition: width 300ms;
      }
    }

    &--active {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--color-text-secondary);
      position: relative;

      &::before {
        content: "";
        width: 4px;
        height: 32px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        position: absolute;
        left: 0px;
        bottom: 5px;
        background-color: var(--color-accent-secondary);
      }
    }
  }

  &__footer {
    margin-top: auto;
  }

  //////// communication ////////////////////////////////////////

  &__widget-contact {
    margin-bottom: 17px;
    padding-left: 19px;

  }

  &--is-open {
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
    transform: translateX(320px);
  }
}
